# Игнорировать чувствительные и временные файлы
create_github_repo.sh
setup_termux_final.sh
setup_vps_ssh_key.sh
wheelzone/secrets/
secrets/
*.key
*.pem
*.env
*.sh~
*token*
*.backup
.secret/
WZ_env_secret.txt
WZ_env_secret.example.txt

# Игнорировать системные и временные файлы
.bash_history
.bashrc
storage/
Downloads/
*.log
*.bak
*.swp
*.tmp
*.zip
__pycache__/
logs/
tmp/
configs/.env.notion
configs/.env.notion
configs/.env.notion
