[gdrive]
type = drive
client_id = 594147511751-tqhg2re91rohrnfh5ncq0jl2594.apps.googleusercontent.com
client_secret = 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
scope = drive
token = {"access_token":"<REDACTED>","token_type":"Bearer","refresh_token":"<REDACTED>","expiry":"<REDACTED>"}
