#!/data/data/com.termux/files/usr/bin/bash
# uuid: 2025-08-26T13:20:14+03:00-1271482859
# title: rclone.conf.example
# component: scripts
# updated_at: 2025-08-26T13:20:14+03:00

#!/data/data/com.termux/files/usr/bin/python3
[gdrive]
type = drive
client_id = 594147511751-tqhg2re91rohrnfh5ncq0jl2594.apps.googleusercontent.com
client_secret = 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
scope = drive
token = {"access_token":"<REDACTED>","token_type":"Bearer","refresh_token":"<REDACTED>","expiry":"<REDACTED>"}
